.portfolio-contacts-holder {
	list-style: none;
	margin: 0;
	padding: 0;
  width: 100%;
  position: absolute;
  left: 0;
	bottom: 0;
}

.portfolio-contact-item {
	font-family: 'Circe';
	margin: 0 0 30px 0;
	color: #fff;
	font-size: 22px;
	line-height: 26px;
}

.portfolio-contact-item--image {
	display: block;
	margin: 0 auto 10px auto;
	width: 58px;
	height: 62px;
	background: url('/static/portfolio_assets/img/icons@contacts.svg') no-repeat;
}

.portfolio-contact-item--image__adress {
	background-position: -77px 0;
}

.portfolio-contact-item--image__mail {
	background-position: 0 0;
}

.portfolio-contact-item--image__phone {
  background-position: -141px 0;
}
