<!doctype html>
<html class="no-js" lang="">
  {% load staticfiles %}
  {% load compress %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tumkov</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
    <link rel="shortcut icon" type="image/png" href="favicon.png?v1" sizes="16x16 32x32 64x64">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-precomposed.png">

    <!-- Place favicon.ico in the root directory -->

    {% compress css %}
      <link rel="stylesheet" href="{% static 'bower_components/normalize-css/normalize.css' %}">
      <link rel="stylesheet" href="{% static 'bower_components/Swiper/dist/css/swiper.css' %}">
      <link rel="stylesheet" href="{% static 'portfolio_assets/css/main.css' %}">
      <link rel="stylesheet" type="text/scss" href="{% static 'portfolio_assets/css/layout.scss' %}">
      <link rel="stylesheet" type="text/scss" href="{% static 'portfolio_assets/css/tumkov.scss' %}">
      <link rel="stylesheet" type="text/scss" href="{% static 'portfolio_assets/css/logo.scss' %}">
      <link rel="stylesheet" type="text/scss" href="{% static 'portfolio_assets/css/contacts_slide.scss' %}">
      <link rel="stylesheet" type="text/scss" href="{% static 'portfolio_assets/css/index_slide.scss' %}">
    {% endcompress %}
  </head>
  <body class="portfolio-body">

    <div class="portfolio-body">
      <button class="btn-hamburger js-slideout-toggle">
        <span>menu</span>
      </button>

      <nav id="menu" class="menu slideout-menu">
        <section class="menu-section">
          <div class="menu-section-align-wrapper">
            <ul class="menu-section-list">
              {% for page in pages %}
                {# excluding index page and any child pages #}
                {% if page.role != 'MN' and page.level == 0 %}
                  <li class="menu-item">
                    <a class="menu-item-link" data-index="{{ page.order }}" href="#{{ page.slug }}">
                      <h3 class="menu-item-link-title">{{ page.title }}</h3>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            <div class="social-networks" data-swiper-parallax="-100">
              <a href="{{settings.fb_url}}" class="social-network-link social-network-link-fb"></a>
              <a href="{{settings.twitter_url}}" class="social-network-link social-network-link-tw"></a>
              <a href="{{settings.insta_url}}" class="social-network-link social-network-link-ig"></a>
              <a href="{{settings.youtube_url}}" class="social-network-link social-network-link-yt"></a>
            </div>
          </div>
        </section>
      </nav>

      <a href="/" class="portfolio-logo">
    		<img src="{% static 'portfolio_assets/img/logo@pages.svg' %}">
    	</a>

      <main id="main" class="main-panel slideout-panel swiper-container swiper-container-v">
        <div class="swiper-wrapper">
          {% for page in pages %}
            {% if page.role == 'MN' %}
              {# display index #}
              <div class="swiper-slide" data-hash="{{ page.slug }}">
                <div class="portfolio-page image-slider image-slider--index">
                  <div class="index-content">
                    <img src="{% static 'portfolio_assets/img/Logo@index.svg' %}" class="index-text--logo" alt="тумков" data-swiper-parallax="-300" >
                    <a href="#" class="index-next-button" data-swiper-parallax="-200"></a>
                  </div>
                </div>
              </div>
            {% elif page.role == 'NW' %}
              {# query news #}
            {% elif page.role == 'RC' %}
              {# query recommendations #}
            {% elif page.role == 'PJ' %}
              {# query projects #}
            {% elif page.role == 'PR' %}
              {# query profiles #}
              {% for sub_page in pages %}
                {% if sub_page.role == 'PC' %}
                {% endif %}
              {% endfor %}
            {% elif page.role == 'CT' %}
              {# display contacts #}
              <div class="swiper-slide" data-hash="{{ page.slug }}">
                <div class="portfolio-page image-slider image-slider--contacts">
                  <ul class="portfolio-contacts-holder">
                    <li class="portfolio-contact-item" data-swiper-parallax="-100">
                      <span class="portfolio-contact-item--image portfolio-contact-item--image__phone"></span>
                      <p class="portfolio-contact-item--text">
                        {{settings.phone}}
                      </p>
                    </li>
                    <li class="portfolio-contact-item" data-swiper-parallax="-200">
                      <span class="portfolio-contact-item--image portfolio-contact-item--image__adress"></span>
                      <p class="portfolio-contact-item--text">
                        {{settings.address}}
                      </p>
                    </li>
                    <li class="portfolio-contact-item" data-swiper-parallax="-300">
                      <span class="portfolio-contact-item--image portfolio-contact-item--image__mail"></span>
                      <p class="portfolio-contact-item--text">
                        {{settings.mail}}
                      </p>
                    </li>
                  </ul>
                  <div class="social-networks" data-swiper-parallax="-100">
                    <a href="{{settings.fb_url}}" class="social-network-link social-network-link-fb"></a>
                    <a href="{{settings.twitter_url}}" class="social-network-link social-network-link-tw"></a>
                    <a href="{{settings.insta_url}}" class="social-network-link social-network-link-ig"></a>
                    <a href="{{settings.youtube_url}}" class="social-network-link social-network-link-yt"></a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </main>

    </div>
    {% compress js %}
      <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
      <script src="{% static 'bower_components/slideout.js/dist/slideout.js' %}"></script>
      <script src="{% static 'bower_components/Swiper/dist/js/swiper.jquery.js' %}"></script>
      <script src="{% static 'portfolio_assets/js/main.js' %}"></script>
    {% endcompress %}

  </body>
</html>
