<!doctype html>
<html class="no-js" lang="">
  {% load staticfiles %}
  {% load compress %}
  {% load portfolio_extras %}
  {% load thumbnail %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tumkov</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
    <link rel="shortcut icon" type="image/png" href="favicon.png?v1" sizes="16x16 32x32 64x64">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-precomposed.png">

    <!-- Place favicon.ico in the root directory -->

    {% compress css %}
      <link rel="stylesheet" href="{% static 'bower_components/normalize-css/normalize.css' %}">
      <link rel="stylesheet" href="{% static 'bower_components/Swiper/dist/css/swiper.css' %}">
      <link rel="stylesheet" href="{% static 'portfolio_assets/css/main.css' %}">
      <link rel="stylesheet" href="{% static 'bower_components/jquery.mb.ytplayer/dist/css/jquery.mb.YTPlayer.min.css' %}">
      <link rel="stylesheet" type="text/scss" href="{% static 'portfolio_assets/css/layout.scss' %}">
      <link rel="stylesheet" type="text/scss" href="{% static 'portfolio_assets/css/tumkov.scss' %}">
      <link rel="stylesheet" type="text/scss" href="{% static 'portfolio_assets/css/logo.scss' %}">
      <link rel="stylesheet" type="text/scss" href="{% static 'portfolio_assets/css/contacts_slide.scss' %}">
      <link rel="stylesheet" type="text/scss" href="{% static 'portfolio_assets/css/index_slide.scss' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'portfolio_assets/css/news.css' %}">
    {% endcompress %}
  </head>
  <body class="portfolio-body">

    <div class="portfolio-body">
      <button class="btn-hamburger js-slideout-toggle">
        <span>menu</span>
      </button>

      <nav id="menu" class="menu slideout-menu">
        <section class="menu-section">
          <div class="menu-section-align-wrapper">
            <ul class="menu-section-list">
              {% for page in pages %}
                {# excluding index page and any child pages #}
                {% if page.role != 'MN' and page.level == 0 %}
                  <li class="menu-item">
                    <a class="menu-item-link" data-index="{{ page.order }}" href="#{{ page.slug }}">
                      <h3 class="menu-item-link-title">{{ page.title }}</h3>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            <div class="social-networks" data-swiper-parallax="-100">
              <a href="{{settings.fb_url}}" class="social-network-link social-network-link-fb"></a>
              <a href="{{settings.twitter_url}}" class="social-network-link social-network-link-tw"></a>
              <a href="{{settings.insta_url}}" class="social-network-link social-network-link-ig"></a>
              <a href="{{settings.youtube_url}}" class="social-network-link social-network-link-yt"></a>
            </div>
          </div>
        </section>
      </nav>

      <a href="/" class="portfolio-logo">
    		<img src="{% static 'portfolio_assets/img/logo@pages.svg' %}">
    	</a>

      <main id="main" class="main-panel slideout-panel swiper-container swiper-container-v">
        <div class="swiper-wrapper">
          {% for page in pages %}
            {% if page.role == 'MN' %}
              {# display index #}
              <div class="swiper-slide" data-hash="{{ page.slug }}" {{ page | page_attrs | safe }}>
                <div class="portfolio-page image-slider image-slider--index">
                  <div class="index-content">
                    <img src="{% static 'portfolio_assets/img/Logo@index.svg' %}" class="index-text--logo" alt="тумков" data-swiper-parallax="-300" >
                    <a href="#" class="index-next-button" data-swiper-parallax="-200"></a>
                  </div>
                </div>
              </div>
            {% elif page.role == 'NW' %}
              <div class="swiper-slide" data-hash="{{ page.slug }}" {{ page | page_attrs | safe }}>
                <div class="portfolio-page image-slider image-slider--news">
                  <div class="portfolio-news-container swiper-container-evo" data-swiper-parallax="-300">
                    {# query news #}
                    <div class="swiper-wrapper">
                      {% for newsItem in news %}
                        <div class="swiper-slide portfolio-news-slider-wrapper">
                          <div class="portfolio-news-item">
                            <span class="portfolio-news-item--date">{{ newsItem.pub_date }}</span>
                            <h2 class="portfolio-news-item--title">{{ newsItem.title }}</h2>
                            {% thumbnail newsItem.image "250x50" crop="center" format="PNG" as im %}
                                <img src="{{ im.url }}" class="portfolio-news-item--image">
                            {% endthumbnail %}
                            <p class="portfolio-news-item--text">{{ newsItem.content | safe }}</p>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    <div class="swiper-pagination-evo"></div>
                  </div>
                </div>
              </div>
            {% elif page.role == 'RC' %}
              <div class="swiper-slide" data-hash="{{ page.slug }}" {{ page | page_attrs | safe }}>
                <div class="portfolio-page image-slider image-slider--recommendations">
                  <div class="portfolio-news-container swiper-container-evo" data-swiper-parallax="-300">
                    {% for recommendation in recommendations %}
                      <div class="swiper-slide portfolio-news-slider-wrapper">
                        <div class="portfolio-news-item">
                          <span class="portfolio-news-item--date">{{ recommendation.pub_date }}</span>
                          <h2 class="portfolio-news-item--title">{{ recommendation.title }}</h2>
                          {% thumbnail recommendation.image "250x50" crop="center" format="PNG" as im %}
                              <img src="{{ im.url }}" class="portfolio-news-item--image">
                          {% endthumbnail %}
                          <p class="portfolio-news-item--text">{{ recommendation.content | safe }}</p>
                        </div>
                      </div>
                    {% endfor %}
                    <div class="swiper-pagination-evo"></div>
                  </div>
                </div>
              </div>
            {% elif page.role == 'PJ' %}
              {# query projects #}
              {# TODO: slide for all projects list #}
              <div class="swiper-slide" data-hash="{{ page.slug }}" {{ page | page_attrs | safe }}>
                <div class="portfolio-page image-slider image-slider--works">
                  {% for work in works %}
                    {{ work.title }}
                  {% endfor %}
                </div>
              </div>
              {% for work in works %}
                <div class="swiper-slide" data-hash="{{ page.slug }}-{{ work.pk }}">
                  <div class="portfolio-page image-slider image-slider--work">
                    <div class="portfolio-work-slides-container swiper-container-h">
                      <div class="swiper-wrapper">
                        {% for detail in work.details.all %}
                          <div class="swiper-slide portfolio-work-slides-slider-wrapper">
                            <div class="portfolio-work-slide-item portfolio-page image-slider"{{ detail | page_attrs | safe }}>
                              <div class="portfolio-work-item--text" data-swiper-parallax="-250">
                                {{ detail.content | safe }}
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                      <div class="swiper-pagination-h"></div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% elif page.role == 'PR' %}
              {# query profiles #}
              {% for sub_page in pages %}
                {% if sub_page.role == 'PC' %}
                {% endif %}
              {% endfor %}
            {% elif page.role == 'CT' %}
              {# display contacts #}
              <div class="swiper-slide" data-hash="{{ page.slug }}" {{ page | page_attrs | safe }}>
                <div class="portfolio-page image-slider image-slider--contacts">
                  <ul class="portfolio-contacts-holder">
                    <li class="portfolio-contact-item" data-swiper-parallax="-100">
                      <span class="portfolio-contact-item--image portfolio-contact-item--image__phone"></span>
                      <p class="portfolio-contact-item--text">
                        {{settings.phone}}
                      </p>
                    </li>
                    <li class="portfolio-contact-item" data-swiper-parallax="-200">
                      <span class="portfolio-contact-item--image portfolio-contact-item--image__adress"></span>
                      <p class="portfolio-contact-item--text">
                        {{settings.address}}
                      </p>
                    </li>
                    <li class="portfolio-contact-item" data-swiper-parallax="-300">
                      <span class="portfolio-contact-item--image portfolio-contact-item--image__mail"></span>
                      <p class="portfolio-contact-item--text">
                        {{settings.mail}}
                      </p>
                    </li>
                  </ul>
                  <div class="social-networks" data-swiper-parallax="-100">
                    <a href="{{settings.fb_url}}" class="social-network-link social-network-link-fb"></a>
                    <a href="{{settings.twitter_url}}" class="social-network-link social-network-link-tw"></a>
                    <a href="{{settings.insta_url}}" class="social-network-link social-network-link-ig"></a>
                    <a href="{{settings.youtube_url}}" class="social-network-link social-network-link-yt"></a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </main>

    </div>
    {% compress js %}
      <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
      <script src="{% static 'bower_components/slideout.js/dist/slideout.js' %}"></script>
      <script src="{% static 'bower_components/Swiper/dist/js/swiper.jquery.js' %}"></script>
      <script src="{% static 'bower_components/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
      <script src="{% static 'portfolio_assets/js/main.js' %}"></script>
    {% endcompress %}

  </body>
</html>
